<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center footer">
            <p>
                5zeta <script>document.write(new Date().getFullYear())</script>
                &copy; Wszelkie prawa zastrzeżone przez:
                <a href="https://websiteswithpassion.pl">Websites With Passion</a>
            </p>
        </div>
    </div>
</div>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Quantcast Tag -->
<script type="text/javascript">
    var _qevents = _qevents || [];
    
    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();
    
    _qevents.push({
    qacct:"p-rgk66EQhTh5qd",
    uid:"maciejkuta6@gmail.com"
    });
    </script>
    
    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-rgk66EQhTh5qd.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
</footer>
</body>
</html>