<%- include("partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 15%">
            <div id="form1">
                <a href="/" id="back">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Wsparcie 5zeta</h1>
                <p class="description">
                    Podoba Ci się ten portal lub chcesz wesprzeć jego rozwój?
                    Masz do tego dwie możliwości:
                </p>
                <div class="description" style="text-align: center;">
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="crazydev" data-color="#8c4303" data-emoji="" data-font="Poppins" data-text="Kup mi kawę" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" crossorigin="anonymous"></script>
                    <br>
                    lub
                    <br>
                    Wyślij wybraną kwotę na konto: <strong>84 1090 2079 0000 0001 4821 7940</strong>
                    <br>
                </div>
            </div>

        </div>
        
    </div>
</div>

</body>
</html>